<style>.term-container {
  background: #171717;
  border-radius: 5px;
  color: white;
  word-break: break-word;
  overflow-wrap: break-word;
  font-family: Monaco, courier;
  font-size: 12px;
  line-height: 20px;
  padding: 14px 18px;
  white-space: pre-wrap;
}
</style>